
html {
	font-family: adobe-tamil, sans-serif;
	font-weight: 400px;
	font-style: normal;
	color: #A4403F;
	height: 100%;
}

.nav-bar{
	display:flex;
	flex-grow:1;
	justify-content: space-around;
	padding-left: 100px; 
	padding-right: 100px;

}
.nav-bar a{
	padding:20px 40px;
	font-size:35px; 
	text-decoration: none;
	color: #A4403F;
}
.nav-bar b{
	text-decoration: underline;
	padding: 20px 40px;
	font-size:35px; 
	color:#A4403F;
}


a:hover {
	text-decoration: underline;
	text-decoration-color:#A4403F;

}

body {
	margin: 0px;
}

/*/--------------------- */

.text { 
	font-size: 80px;
	color: #E7DABD;
 	position:fixed !important;
	position:absolute;
	
	height: 80%;
	width:95%;

  /* Center and scale the image nicely */
    
    background-repeat: no-repeat;
    background-size: cover;
	text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}

img.painting{
	padding-top: 0px;
	width: 100vw;
    height: 50%;
    max-width: none;
    max-height: 80vh;
    object-fit: contain;
}	



/* ---- header --------*/




.contact-bar{
	padding-top: 0px;
	display:flex;
	justify-content: center;
	text-decoration-color:#A4403F;
	font-size:20px;
}
